@media (min-width: 992px){
    .bg-edificio{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: -1;
    }
}

.img-fluid{
    object-fit: contain;
    cursor: pointer;
}

.carousel-item img{
    max-height: 100vh;
    object-fit: contain;
}